<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <ion-buttons slot="start">
        <ion-button (click)="goBack('/profile')" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-info">
        <p class="title">Información personal</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="profile-page">
  <br />
  <div>
    <div class="profile-avatar">
      <img
        src="../../../assets/images/icons/user-circle.png"
        alt="User avatar"
      />
    </div>
    <p class="profile-name">[Nombre]</p>

    <div class="status-container">
      <ion-chip color="uva_blue-500" class="status-chip">
        <ion-label>Graduado 🎓</ion-label>
      </ion-chip>
      <ion-chip color="uva_blue-500" class="status-chip">
        <ion-label>Semillas: <strong class="color-700">3</strong></ion-label
        ><img
          class="icon-s"
          src="../../../../assets/images/icons/semilla.svg"
        />
      </ion-chip>
    </div>

    <p class="form-title">Datos personales</p>
  </div>

  <form [formGroup]="userForm">
    <ion-card class="profile-card">
      <ion-list class="options-list" lines="none">
        <div *ngFor="let field of fields">
          <div class="padding-b">
            <ion-label class="form-label" position="floating"
              >{{ field.label }}</ion-label
            >
          </div>
          <ion-item class="custom-item">
            <ion-input
              *ngIf="field.type === 'string'"
              [formControlName]="field.key"
              [placeholder]="field.placeholder"
            ></ion-input>
            <ion-input
              *ngIf="field.type === 'int'"
              type="number"
              [formControlName]="field.key"
              [placeholder]="field.placeholder"
            ></ion-input>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>
    <section footer class="footer">
      <p fill="clear" class="text-transform_none form-sub1">Otras acciones</p>
      <ion-button
        (click)="modals.modal_Delete = true"
        fill="clear"
        class="text-transform_none form-sub2"
      >
        Eliminar la cuenta
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="onSubmit()"
        expand="block"
        color="uva_blue-600"
        class="text-transform_none radius"
        >Editar datos
        <ion-icon name="pencil-outline" slot="end"></ion-icon> </ion-button
      ><br />
    </section>
  </form>

  <ion-modal
    #modal_Delete
    [isOpen]="modals.modal_Delete"
    (ionModalDidDismiss)="modals.modal_Delete = false"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <div class="modal_Delete">
        <div class="container_text">
          <p>
            Al <strong class="text-strong"> eliminar</strong> tu cuenta
            <strong class="text-strong">perderás</strong> todos tus
            <strong class="text-strong">datos registrados</strong>
            hasta el momento, sin embargo, estos datos se mantendrán en nuestra
            base de datos.
          </p>
        </div>
        <div class="container_text">
          <h3 class="question-text">¿Quieres eliminar tu cuenta?</h3>
        </div>
        <div class="button-container">
          <ion-button
            (click)="goDeleteAcount()"
            fill="outline"
            color="orange"
            class="outline-button text-transform_none"
          >
            Sí, quiero eliminarla
          </ion-button>
          <ion-button
            (click)="modals.modal_Delete = false"
            fill="solid"
            color="orange"
            class="solid-button text-transform_none"
          >
            No, no quiero eliminarla
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
