<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <ion-buttons slot="start">
        <ion-button (click)="goBack('/profile')" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-info">
        <p class="title">Información personal</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="profile-content">
    <div class="profile-card">
      <div class="profile-header">
        <img class="avatar" src="../../../assets/images/icons/user-circle.png" alt="User Avatar" />
        <div class="status-container" *ngIf="!isEditable">
          <div class="status-item" *ngIf="isRanking">
            Graduado 🎓
          </div>
          <div class="status-item"  *ngIf="isSeed">
            Semillas: <strong class="colorB">{{seed}}</strong> <img [src]="seedIcon" alt="Semilla Icon" class="seed-icon" /> 
          </div>
        </div>
      </div>
      <p class="form-title color-g">Datos personales</p>
      <form [formGroup]="userForm">
        <div class="form">
          <ion-list class="menu-list" lines="none">
            <div *ngFor="let field of fields" class="div_form">
              <ion-label>{{ field.label }}</ion-label>
              <div class="margin-top"></div>
              <ion-item>
                <ion-input
                  *ngIf="field.type === 'string'"
                  [formControlName]="field.key"
                  [placeholder]="field.placeholder"
                  [readonly]="!isEditable || userForm.get(field.key)?.disabled"
                  (ionFocus)="handleFocus($event)"
                  (ionBlur)="handleBlur($event)"
                ></ion-input>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </form>
      
      
            
      <p class="form-title color-n">Otras acciones</p>
      <div class="a-left">
        <a
        (click)="openModal('modal_Delete')"

          class="delete-button text-transform_none"
        >
          <ion-label> Eliminar la cuenta</ion-label>
          <ion-icon  class="sizeB" src="../../../assets/images/icons/profile/trash.svg" slot="end"></ion-icon>
      </a>
      </div>
      <ion-footer>
        <ion-button
          expand="block"
          color="uva_blue-600"
          class="text-transform_none"
          (click)="toggleEdit()"
        >
          {{ isEditable ? 'Guardar cambios' : 'Editar datos' }}
          <ion-icon src="../../../assets/images/icons/profile/pencil.svg" slot="end"></ion-icon>
        </ion-button>
      </ion-footer>
    </div>
  </div>


  <ion-modal
    #modal_Delete
    id="modal_Delete"
    [isOpen]="modals.modal_Delete"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    (ionModalDidDismiss)="onModalDismiss('modal_Delete')"
  >
    <ng-template>
      <div class="modal_Delete">
        <div class="container_text">
          <p>
            Al <strong class="text-strong"> eliminar</strong> tu cuenta
            <strong class="text-strong">perderás</strong> todos tus
            <strong class="text-strong">datos registrados</strong>
            hasta el momento, sin embargo, estos datos se mantendrán en nuestra
            base de datos.
          </p>
        </div>
        <div class="container_text">
          <h3 class="question-text">¿Quieres eliminar tu cuenta?</h3>
        </div>
        <div class="button-container">
          <ion-button
          (click)="onCloseAndOpen('modal_Delete', 'modal_Delete_2')"
            fill="outline"
            color="orange"
            class="outline-button text-transform_none"
          >
            Sí, quiero eliminarla
          </ion-button>
          <ion-button
          (click)="onModalDismiss('modal_Delete')"
            fill="solid"
            color="orange"
            class="solid-button text-transform_none"
          >
            No, no quiero eliminarla
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal
  #modals.modal_Delete_2
  id="modal_token_b"
  [isOpen]="modals.modal_Delete_2"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  (ionModalDidDismiss)="onModalDismiss('modal_Delete_2')"
>
>
  <ng-template>
    <div class="modal_Delete">
      <div class="container_text">
        <p>
          Para <strong class="text-strong"> eliminar</strong>
          tu cuenta por favor<br>
           escribe en mayusculas:<br>
          <strong>ELIMINAR CUENTA</strong>
        </p>
      </div>
      <div class="container_text">
        <ion-input
        
        [(ngModel)]="deleteConfirmationInput"
        placeholder="ELIMINAR CUENTA"
        class="delete-input"
        (ionInput)="validateInput()"
      ></ion-input>
      </div>
      <div class="button-container">
        <ion-button
        (click)="onModalDismiss('modal_Delete_2')"
          fill="outline"
          color="orange"
          class="outline-button text-transform_none"
        >
         Cancelar
        </ion-button>
        <ion-button
        [disabled]="!isInputValid"
        (click)="goDeleteAccount()"
          fill="solid"
          color="orange"
          class="solid-button text-transform_none"
        >
         Confirmar
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

</ion-content>
