<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <ion-buttons slot="start">
        <ion-button (click)="goBack('/profile')" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-info">
        <p class="title">Tus logros</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [style.background-image]="'url(../../../assets/images/icons/back.png)'" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let achievement of achievements">
        <ion-card class="achievement-card"><br>
          <img [src]="achievement.icon" alt="Achievement icon">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

 
    <ion-toolbar class="transparent-toolbar">
      <ion-button  expand="block" slot="end" class="footer-button" (click)="modals.modal_show = true">
        ¿Dudas?
      </ion-button>
    </ion-toolbar>




  <ion-modal #modal_show [isOpen]="modals.modal_show" (ionModalDidDismiss)="modals.modal_show = false"
  [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal_show">
      <div class="container_text">
        <p>
          Cada día que cumplas <strong class="text-strong"> con todos tus registro</strong> 
          ganas dos semillas.
        </p>
        <h1 class="question-text">+2<ion-icon class="icon" slot="start" src="../../../assets/images/icons/semilla.svg"></ion-icon>
        </h1><br>
      </div>

      <div class="container_text">
        <p>
          Con estas semillas podrás recuperar tu racha.<br><br>
          <ion-icon slot="start" src="../../../assets/images/icons/date_incomplete.svg"></ion-icon>
          <ion-icon class="icon-f" slot="start" src="../../../assets/images/icons/arrow-right.svg"></ion-icon>
          <ion-icon slot="start" src="../../../assets/images/icons/date_check.svg"></ion-icon><br><br>
          Para recuperar un día incompleto, <strong>debes pagar 5 semillas.</strong> 
        </p>
      </div>

      <div class="container_text">
        <p>
          Si  cumples <strong> con 7 días de racha</strong> 
          ganas <strong> 3 semillas adicionales.</strong> <br>
        </p> 
        <h1 class="question-text">+3<ion-icon class="icon" slot="start" src="../../../assets/images/icons/semilla.svg"></ion-icon>
        </h1><br>
      </div>
      <div class="container_button">
        <ion-button class="text-transform_none" id="open-modal_show_2" color="uva_blue-600" expand="block"
          (click)="modals.modal_show = false; modals.modal_show_2= true">
          Siguiente
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal #modal_show_2 [isOpen]="modals.modal_show_2" [initialBreakpoint]="1" [breakpoints]="[0, 1]"
(ionModalDidDismiss)="modals.modal_show_2 = false">
<ng-template>
  <div class="modal_show">
    <div class="contener_buttons_actions">
      <ion-icon slot="start" color="uva_blue-600" name="arrow-back-outline"
        (click)=" modals.modal_show_2 = false; modals.modal_show = true"></ion-icon>
      <ion-button expand="block" color="uva_blue-600" (click)="modals.modal_show_2 = false">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
    <div class="container_text">
      <p>
        Al finalizar el <strong>mes</strong> la cantidad de tus 
        semillas <strong>germinará</strong> de esta manera
      </p>
    </div>

    <div class="container_text">
      <h1 class="question-text">+3<ion-icon class="icon" slot="start" src="../../../assets/images/icons/semilla.svg"></ion-icon> 
        a 40<ion-icon class="icon" slot="start" src="../../../assets/images/icons/semilla.svg"></ion-icon>
        <ion-icon class="icon-f" slot="start" src="../../../assets/images/icons/arrow-right.svg"></ion-icon>
      <img class="icon-s-s" src="../../../assets/images/icons/brote.svg" /></h1>
      <p>
        De 41 a 63 semillas germina una 
        <strong>plantula</strong> 
      </p>
    </div>

    <div class="container_text">
      <h1 class="question-text">Más de 64<ion-icon class="icon" slot="start" src="../../../assets/images/icons/semilla.svg"></ion-icon>
      <ion-icon class="icon-f" slot="start" src="../../../assets/images/icons/arrow-right.svg"></ion-icon>
      <img class="icon-s-s" src="../../../assets/images/icons/flor.svg" />
    </h1>
      <p>
        más de 63 semillas germina una 
        <strong>flor</strong> 
      </p>
    </div>

    <div class="container_text">
      <h1 class="question-text">De 0 a 10<ion-icon class="icon" slot="start" src="../../../assets/images/icons/semilla.svg"></ion-icon></h1>
      <p>
        De 0 a 10 semillas <strong>No</strong>  alcanza a germinar 
         <strong>nada</strong>  😒
       
      </p>
    </div>

    <div class="container_button">
      <ion-button class="text-transform_none" (click)="modal_show_2.dismiss()" color="uva_blue-600" expand="block">
        Entendido
      </ion-button>
    </div>
  </div>
</ng-template>
</ion-modal>


</ion-content>
