.splash-screen {
  background-image: url('../../../assets/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  // Superposición con backdrop-filter
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(25px); // Aplica el filtro de desenfoque al fondo
   
  }
}

.leaf-icon {
  border-radius: 50%;
  margin-bottom: 10px;
}

.powered-by {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
}

.make-sens-logo {
  width: 150px;
}