<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <p class="title">{{ title }}</p>
      <div class="user-info">
        <ion-chip (click)="goToProfile()">
          <ion-label>{{ seed }} </ion-label>
          <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
          <ion-avatar>
            <img
              src="../../../assets/images/icons/user-circle.svg"
              alt="User avatar"
            />
          </ion-avatar>
        </ion-chip>
        <!--   <span class="egg-count">3</span>
           -->
      </div>
    </div>
  </ion-toolbar>
</ion-header>
