<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header" [class.center]="hasCenterTitle">
      @if (hasBackButton) {
        <ion-buttons slot="start">
          <ion-button (click)="goBack(routerBackButton)" fill="clear">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      }

      <p class="title">{{ title }}</p>
      @if (hasProfileButton) {
        <div class="user-info">
          <ion-chip (click)="goToProfile()">
            <ion-label>{{ seed }} </ion-label>
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
            <ion-avatar>
              <img
                src="../../../assets/images/icons/user-circle.svg"
                alt="User avatar"
              />
            </ion-avatar>
          </ion-chip>
        </div>
      }
    </div>
  </ion-toolbar>
</ion-header>
