@import 'src/theme/mixins.scss';

.guide {
  background: var(--Colors-Gray-50);
  display: flex;
  padding: 10px 20px 30px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .description {
    margin: 0;
    padding: 0 0 0 16px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      color: var(--Gray-700, #404040);
      @include text-base(16px, 700);
      line-height: 150%;
      margin: 0px;
    }

    ion-icon {
      width: 24;
      height: 24;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .container_button {
    width: 100%;
  }
  .btn_close {
    float: right;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;
    margin-top: 10px;
    width: 38px;
  }
}

ol {
  padding-inline-start: 1em;
  margin-block: 10px;
}

ion-checkbox {
  --checkbox-background-checked: #1097aa;
  --checkbox-background: transparent;
}

ion-checkbox::part(container) {
  border-radius: 4px;
  border-color: #1097aa;
}

ion-checkbox::part(label) {
  @include text-base(14px, 500);
  color: var(--Gray-700, #404040);
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0;
  /* 21px */
}
