<div
  class="date"
  [ngClass]="{
    complete: state === 'complete',
    current: state === 'today',
    incomplete: state === 'incomplete',
    future: state === 'future',
    normal: state === 'normal',
    saveStreak: state === 'saveStreak',
    mini: isMiniCalendar,
    none: state === 'none',
    isMoonCalendar: isMoonCalendar,
  }"
>
  @if (day) {
    {{ day < 10 ? '0' + day : day }}
    <ion-icon
      *ngIf="state === 'complete' || state === 'saveStreak' || customIcon"
      [src]="
        state === 'complete'
          ? './../../../../assets/images/icons/check.svg'
          : state === 'saveStreak'
            ? './../../../../assets/images/icons/checkSaveStreak.svg'
            : icon
      "
      [ngClass]="{
        top: iconPosition === 'top',
        saveStreak: state === 'saveStreak',
      }"
    ></ion-icon>
  }
</div>
