<div
  class="date"
  [ngClass]="{
    complete: state === 'complete',
    current: state === 'today',
    incomplete: state === 'incomplete',
    future: state === 'future',
    normal: state === 'normal',
    mini: isMiniCalendar,
    none: state === 'none',
    isMoonCalendar: isMoonCalendar,
  }"
>
  @if (day) {
    {{ day < 10 ? '0' + day : day }}
    <ion-icon
      *ngIf="state === 'complete' || customIcon"
      [src]="icon"
      [ngClass]="{ top: iconPosition === 'top' }"
    ></ion-icon>
  }
</div>
