@import 'src/theme/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  16px 10px;
    
    .title {
      @include text_base(18px, 600);
      color: var(--Colors-Gray-50);
    }
  
    .user-info {
      display: flex;
      align-items: center;
    }

  }

  .content,ion-content{
    background: #F5F5F5;
    --background: #F5F5F5;
  }
    .profile-content {
      display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid  #E5E5E5;
    background: #F5F5F5;
      .profile-card {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 16px;
        align-self: stretch;
        border-radius:  16px;
        border: 1px solid  #E5E5E5;
        background: #FFF;
    
        .profile-header {
          gap: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          align-self: stretch;
    
          .avatar {
            width: 95px;
            height: 95px;
            border-radius: 50%;
          }
    
          .user-name {
            color:  #404040;
            text-align: center;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            margin: 0px;
          }
    
          .status-container {
            display: flex;
            gap: 16px;
            justify-content: center;
    
            .status-item {
              display: flex;
              align-items: center;
              gap: 2px;
              padding: 6px 8px;
             background:  rgba(141, 228, 255, 0.50);
              border-radius: 10px;
              font-family: Roboto, sans-serif;
              font-size: 16px;
              font-weight: 400;
              color:  #404040;
            }
    
            .seed-icon {
              width: 16px;
              height: 21px;
              margin-top: 2px;
            }
          }
        }
    
        .menu-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
        
          ion-item {
           
            display: flex;
            height: 48px;
            border-radius: 10px;
            border: 1px solid  #E5E5E5;
            background:#F5F5F5;
            --ion-item-background:#F5F5F5;
            padding: 0px;
            align-items: center;
            gap: 32px;
            align-self: stretch;
        
            ion-label {
              
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              color:  #404040;
            }
        
            ion-icon {
              font-size: 20px;
              color:  #9E9E9E;
            }
          }
        }
        
        .a-left{
         width: 50%;
          .logout-button {
           
           --border-color: #10BCCA;
            --border-radius: 8px;
            ion-label{
              display: flex;
              padding: 3px 2px;
              color:  #10BCCA;
              text-transform: none;
              font-family: Montserrat;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%
            }
          }
        }
      }
      .footer-logo {
        
        margin-top: 20px;
        align-self: center;
  
        img {
          max-width: 150px;
          height: auto;
        }
      }
    }
  

 
    div.inner-scroll.scroll-y.overscroll,.scroll-y{
      background: #F5F5F5;

    }

    .colorB{
      color:  #14788A;
    }

    %modalCommons {
      display: flex;
      padding: 10px 10px 20px 10px;
      flex-direction: column;
    color: var(--Gray-700, #404040);;
      background-color: var(--Colors-Gray-100);
    
      ion-button {
        margin-bottom: 0
      }
    
      .container_button {
        width: 100%;
      }
    
      .container_text {
        padding: 10px;
        border-radius: var(--xl, 10px);
        background: var(--White, #FFF);
        gap: 14px;
        margin-block: 11px;
      }
    
      .contener_buttons_actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    
        ion-button {
          margin: 0
        }
      }
    }
    
    ion-modal {
      --height: auto;
      background:#ffffff;
      --ion-item-background:#ffffff;
      p{
        color: #404040
      }
      
    }
    
    .modal_show_comparte {
      @extend %modalCommons;
    
      p {
        @include text-base(16px, 500);
       
        align-items:normal;
        max-width: 100%;
    
        ion-icon {
          margin-right: 14px;
          width: 40px;
          height: 40px;
        }
    
        .strong {
          font-weight: 700;
        }
    
      }
    }
    .s-p{
      font-weight: 600 !important;
      font-size: 12px !important;
    }
    
    .share-option {
      text-align: center;
    }
    
    .share-option ion-icon {
      margin-bottom: 4px;
    }
    

    .divider {
      border: none;
      border-top: 1px solid #E5E5E5;
      margin: 16px 0;
      width: 100%; 
    }