<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <ion-buttons slot="start">
        <ion-button (click)="goBack('/app/tabs/home')" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-info">
        <p class="title">Perfil</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-page">
  <br>
  <ion-card class="profile-card">
    <ion-avatar class="profile-avatar">
      <img src="../../../assets/images/icons/user-circle.png" alt="User avatar">
    </ion-avatar>
    <p class="profile-name">[Nombre]</p>

    <div class="status-container">
      <ion-chip color="uva_blue-500" class="status-chip">
        <ion-label>Graduado  🎓</ion-label>
      </ion-chip>
      <ion-chip color="uva_blue-500" class="status-chip">
        <ion-label >Semillas: <strong class="color-700">3</strong></ion-label><img class="icon-s" src="../../../assets/images/icons/semilla.svg"/>
      </ion-chip>
    </div>


    <ion-list class="options-list"  lines="none">
      <ion-item  (click)="goBack('/personal-info')" class="custom-item">
        <ion-label>Información personal</ion-label>
        <img class="icon-s" src="../../../assets/images/icons/profile/Arrow-forward.png"/>
      </ion-item>
      <ion-item  (click)="goBack('/achievement')" class="custom-item">
        <ion-label>Tus logros</ion-label>
        <img class="icon-s" src="../../../assets/images/icons/profile/Medal.png"/>
      </ion-item>
      <ion-item  (click)="goBack('/configuration')" class="custom-item">
        <ion-label>Configuración</ion-label>
        <img class="icon-s" src="../../../assets/images/icons/profile/Options.png"/>
      </ion-item>
      <ion-item  (click)="modals.modal_show = true"  class="custom-item">
        <ion-label>Comparte la aplicación</ion-label>
        <img class="icon-s" src="../../../assets/images/icons/profile/Share-social.png"/>
      </ion-item>
      <ion-item  (click)="goUrl()" class="custom-item">
        <ion-label>Soporte documental</ion-label>
        <img class="icon-s" src="../../../assets/images/icons/profile/Open.png"/>
      </ion-item>
    </ion-list>
    <div class="ion-start">
      <ion-button (click)="goBack('/login')" fill="outline" expand="block" color="uva_blue-500" class="logout-button">
        Cerrar sesión   <img class="icon-s-s" src="../../../assets/images/icons/profile/logout.png"/>
      </ion-button>
    </div>

    <ion-modal #modal_show [isOpen]="modals.modal_show" (ionModalDidDismiss)="modals.modal_show = false"
    [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="modal_show" line="none">
        <div class="container_text">
            <ion-item lines="none">
              <ion-icon size="large" slot="start" src="../../../assets/images/icons/logop.svg"></ion-icon>
              <p class="s-p">Hola, cónoce la aplicación Uva-App para registrar tus datos del clima!</p>
            </ion-item>
          <ion-grid>
            <!-- Primera Fila de Iconos -->
            <ion-row>
              <ion-col size="4" class="share-option" *ngFor="let option of shareOptions">
                <ion-icon (click)="option.action()" [src]="option.icon" size="large"></ion-icon>
                <p class="s-p">{{ option.label }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ng-template>
  </ion-modal>
     
  </ion-card>



  <div class="footer-logo">
    <img src="../../../assets/images/LogoNaturaColombia.svg" alt="Fundación Natura Colombia"><br>
  </div>
</ion-content>
