
  <ion-card>
     <div class="modal-container">
      <div [innerHTML]="content"></div>
      <div class="button-container">
        @if(ShowCancelButton){
          <ion-button fill="outline" (click)="actionButton('CANCEL')" color="uva_blue-500">{{textCancelButton}}</ion-button>
  
        }
        <ion-button (click)="actionButton('OK')" color="uva_blue-500">{{textOkButton}}</ion-button>
      </div>
    </div>
  </ion-card> 
   

  

<!-- <ion-content class="ion-padding">
  <div class="modal-header">
    ¿Es correcto este número de teléfono?
  </div>

  <div class="modal-number">
    {{ 'numeroTelefono' }}
  </div>

  <div class="modal-footer">
    <button class="cancel-button" (click)="actionButton()">No, editar</button>
    <button class="confirm-button" (click)="actionButton('OK')">Sí, continuar</button>
  </div>
</ion-content> -->