<ion-card>
  <div class="modal-container">
    <div [innerHTML]="content"></div>
    <div class="button-container" [ngStyle]="{'flex-direction' :reverseButton ? 'row-reverse' : 'row'}">
      @if (ShowCancelButton) {
        <ion-button
          [fill]="bordersInCancelBtn ? 'outline':'clear'" 
          (click)="actionButton('CANCEL')"
          [color]="colorBtn"
          >{{ textCancelButton }}</ion-button
        >
      }
      <ion-button (click)="actionButton('OK')" [color]="colorBtn">{{
        textOkButton
      }}</ion-button>
    </div>
  </div>
</ion-card>

