<app-explore-container
  title="Datos de ubicación"
  message="{{user?.name}} por favor completa los siguientes datos:"
  [Icon]="icon"
  [BgBlue]="true"
>
  <form [formGroup]="form">
    <div
      class="input-container"
      *ngFor="let field of configModel?.fieldsUVA | keyvalue"
    >
      <div class="content_label__start">
        <ion-label>{{ field.value.displayText }}</ion-label>
      </div>
      <ion-input
        [formControlName]="field.value.fieldId"
        class="border"
        type="text"
        (ionInput)="setErrorInput($event, field.value.fieldId)"
        [placeholder]="field.value.displayText"
        (keydown.enter)="form.invalid ? '' : goToCompleted() "
      ></ion-input>
    </div>
    <ion-button
      [disabled]="form.invalid"
      expand="block"
      color="uva_green-700"
      (click)="goToCompleted()"
      >Continuar</ion-button
    >
  </form>
</app-explore-container>
