<app-header title="Historial de registros" [hasProfileButton]="false" [hasBackButton]="true"
  [routerBackButton]="'app/tabs/history'"></app-header>
<ion-content [fullscreen]="true">
  <section class="header">
    @if(date){

    <div class="day">
      <app-day [day]="date.dayOfMonth!" [state]="date.state"></app-day>
    </div>
    }
    <div class="date">
      {{dateFormatted}}
    </div>
  </section>
  <section class="measurement">

    <section class="measurement_complete">
      <div class="title">
        Registros completados
      </div>

      <div class="measurement_result" *ngFor="let item of [0,0,0]">
        <p class="measurement_result_title">
          <ion-checkbox slot="start" color="uva_blue-500" checked [disabled]="true"></ion-checkbox>
          Temperatura y humedad (mañana) 🌡️
        </p>

        <div class="measurement_result_value_content">
          <div class="measurement_result_value" *ngFor="let item of [0,0,0]">

            <p class="measurement_result_value_title">
              temperatura
              <span class="suffix" [ngStyle]="{'color': 'var(--Colors-Green-500)'}">
                max
              </span>
            </p>
            <p class="measurement_result_value_value">
              22 °C
            </p>

          </div>
        </div>

      </div>


    </section>
  <!--   @if (date?.state === 'incomplete') { -->
    <section class="measurement_incomplete">

      <div class="title">
        Registros sin completar
      </div>

      <div class="measurement_result" *ngFor="let item of [0]">
        <p class="measurement_result_title">
          <ion-checkbox slot="start" color="uva_blue-500" [disabled]="true"></ion-checkbox>
          Temperatura y humedad (mañana) 🌡️
        </p>
      </div>
    </section>
 <!--  } -->
  </section>

  @if (showAlert_incomplete) {
  <div class="alert danger">
    <p> No tienes suficientes semillas para recuperar tu racha😒, necesitas:
       <span class="highlight">
      5  <ion-icon slot="end" src="../../../../assets/images/icons/semilla.svg"></ion-icon>
      </span> </p>
  </div>
  }
  @if (showAlert_complete_seed) {
  <div class="alert info">
    <p>  Día completado con semillas </p>
  </div>
  }

  @if(date?.state === 'incomplete'){
  <ion-button expand="block" color="uva_orange-500" class="text-transform_none bth_recover" (click)="openModal()">
    Recupera tu racha
    <ion-icon slot="end" src="./../../../../assets/images/icons/fire.svg"></ion-icon>
  </ion-button>
  }


</ion-content>