@import 'src/theme/mixins.scss';

ion-content::part(background) {
    background: var(--Colors-Blue-50);
    ;
}

.header {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;

    .day {}

    .date {
        color: var(--Colors-Blue-900);
        line-height: 150%;
        @include text-base(16px, 700);

    }
}

%measurment {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: var(--4xl, 16px);
    width: 100%;
    margin-bottom: 10px;
}

.measurement {
    padding: 10px;

    .title {
        @include text-base(16px, 700);
        color: var(--Colors-Blue-800, #1A6270);
        line-height: 150%;
        /* 24px */
    }

    &_complete {
        @extend %measurment;
        border: 1px solid var(--Colors-Green-200, #C8E6B0);
        background: var(--Colors-Green-100, #E3F2D5);
    }

    &_incomplete {
        @extend %measurment;
        background: var(--White, #FFF);
    }

    &_result {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        border-radius: var(--4xl, 16px);
        background: var(--Colors-Gray-50);
        width: 100%;




        &_title {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            color: var(--Gray-700, #404040);
            margin: 0;
            @include text-base(14px, 500);
            line-height: 150%;
        }

        &_value {
            display: flex;
            height: 48px;
            align-items: center;
            flex-direction: column;

            p {
                margin: 0;
            }

            &_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &_title {
                color: var(--Gray-700, #404040);
                @include text-base(14px, 700);

                .suffix {
                    font-weight: 500;
                }

            }

            &_value {
                color: var(--Colors-Blue-800, #1A6270);
                @include text-base(18px, 600);
                line-height: 150%;
                align-self: start;

            }

        }
    }


}

.bth_recover {
    margin-inline: 10px;
}

.alert {
    .highlight {
        overflow: hidden;
        color: var(--Gray-700, #404040);
        text-overflow: ellipsis;
        @include text-base(20px, 600);
        ion-icon{
            vertical-align: middle;
            margin-left: -8px;
        }
    }
}
