@import'./day/day.mixin.scss';

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    margin-bottom: 10px;
    padding: 8px;
    color: var(--Colors-Gray-400);
    overflow-x: auto;
    border-radius: 10px;
    border: 1px solid var(--Colors-Gray-200);
    background: var(--White, #FFF);


    .day {
        @include dayCalendar;
    }

    &.moon {
        border: none;
        border-radius: var(--4xl, 16px);
        background: var(--Colors-Blue-800, #1A6270);
        color: white;
        padding: 20px 10px 10px 10px;
        gap: 6px;

        .header {
            margin-bottom: 10px;
        }

    }

}