<app-header [seed]="userProgress?.Seed"></app-header>
<ion-content [fullscreen]="true">
  <h2 class="date-header">Hoy,{{today}}</h2>
  <div class="cards">
    <app-calendar calendarView="week" [hasHeader]="true">
      <section header>
        <ion-card-header>
          <ion-card-title class="title_series">
            Tienes {{userProgress?.Streak}} Días de racha 😌
          </ion-card-title>
          <ion-icon
            src="./../../../assets/images/icons/information-circle.svg"
            (click)="openModal('modal_Days')"
            class="info-icon"
          ></ion-icon>
        </ion-card-header>
      </section>
    </app-calendar>
    <ion-button
      expand="block"
      color="uva_blue-600"
      href="app/tabs/history"
      class="text-transform_none"
      >Ver historial
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon
    ></ion-button>
  </div>

  <div class="cards ion-margin-top">
    <ion-card-header>
      <ion-card-title class="title_series">
        Registra y gana: +2<ion-icon
          src="./../../../assets/images/icons/semilla.svg"
        ></ion-icon>
      </ion-card-title>
      <ion-icon
        src="./../../../assets/images/icons/information-circle.svg"
        (click)="openModal('modal_token')"
        class="info-icon"
      ></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <app-progress-bar
        [currentProgress]="userProgress?.completedTasks ?? 0"
        [totalProgress]="totalTask"
      >
      </app-progress-bar>
      <ion-button
        expand="block"
        color="uva_blue-600"
        href="app/tabs/register"
        class="text-transform_none"
        >Completar registros</ion-button
      >
    </ion-card-content>
  </div>

  <app-moon-card (click)="goToMoonCalendar()"></app-moon-card>

  <!-- Modal Days Info -->
  <ion-modal
    #modal_Days
    id="modal_Days"
    [isOpen]="modals['modal_Days']"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    (ionModalDidDismiss)="onModalDismiss('modal_Days')"
  >
    <ng-template>
      <div class="modal_Days">
        <div class="container_text">
          <p><strong>Los días tienen estos estados: </strong></p>
          <p>
            <ion-icon
              slot="start"
              src="../../../assets/images/icons/date_check.svg"
            ></ion-icon>
            Registros del día &nbsp;<strong> completos </strong>
          </p>
          <p>
            <ion-icon
              slot="start"
              src="../../../assets/images/icons/date_incomplete.svg"
            ></ion-icon>
            Registros del día &nbsp; <strong> incompletos</strong>
          </p>
          <p>
            <ion-icon
              slot="start"
              src="../../../assets/images/icons/date_current.svg"
            ></ion-icon>
            Día &nbsp;<strong> por registrar. </strong>
          </p>
        </div>
        <div class="container_button">
          <ion-button
            id="open-modal_Days_question"
            color="uva_blue-600"
            expand="block"
            (click)="onCloseAndOpen('modal_Days','modal_Days_question')"
          >
            Siguiente
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Modal Days Question Info -->
  <ion-modal
    #modal_Days_question
    id="modal_Days_question"
    [isOpen]="modals['modal_Days_question']"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    (ionModalDidDismiss)="onModalDismiss('modal_Days_question')"
  >
    <ng-template>
      <div class="modal_Days_question">
        <div class="contener_buttons_actions">
          <ion-icon
            slot="start"
            name="arrow-back-outline"
            (click)="onCloseAndOpen('modal_Days_question','modal_Days')"
          ></ion-icon>
          <ion-button
            expand="block"
            color="uva_blue-600"
            (click)="onModalDismiss('modal_Days_question')"
          >
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
        <div class="container_text">
          <p>
            En el siguiente <strong> ejemplo </strong> se muestran dos días de
            racha:
          </p>
          <ion-img src="../../../assets/images/calendar_example.svg"></ion-img>
          <p>
            <strong> ¿Por qué solo dos días? </strong>
            A pesar de haber 3 días completos, el día
            <ion-icon
              src="../../../assets/images/icons/date_incomplete.svg"
            ></ion-icon>
            está incompleto y rompe con la secuencia.
          </p>
        </div>
        <div class="container_button">
          <ion-button
            color="uva_blue-600"
            expand="block"
            (click)="onModalDismiss('modal_Days_question')"
          >
            Entendido
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Modal token Info -->

  <ion-modal
    #modal_token
    id="modal_token"
    [isOpen]="modals['modal_token']"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    (ionModalDidDismiss)="onModalDismiss('modal_token')"
  >
    <ng-template>
      <div class="modal_token">
        <div class="container_text">
          <p>
            Cada día que cumplas <strong>con todos tus registros</strong> ganas
            dos semillas.
          </p>
          <h1>
            +2
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
          </h1>
        </div>
        <div class="container_text">
          <p>
            Los días que <strong>cumplas con algunos</strong> registros ganas
            una semilla.
          </p>
          <h1>
            +1
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
          </h1>
        </div>
        <div class="container_text">
          <p>Con estas semillas podrás recuperar tu racha.</p>
          <h1>
            <ion-img
              src="../../../assets/images/icons/date_incomplete_to_done.svg"
            ></ion-img>
          </h1>
          <p>
            Para recuperar un día incompleto,
            <strong>debes pagar 5 semillas.</strong>
          </p>
        </div>
        <div class="container_text">
          <p>
            Si cumples <strong>con 7 días de racha </strong>ganas
            <strong> 3 semillas adicionales. </strong>
          </p>
          <h1>
            +3
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
          </h1>
        </div>
        <div class="container_button">
          <ion-button
            color="uva_blue-600"
            expand="block"
            (click)="onCloseAndOpen('modal_token', 'modal_token_2')"
          >
            Siguiente
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal
    #modal_token_2
    id="modal_token_2"
    [isOpen]="modals['modal_token_2']"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    (ionModalDidDismiss)="onModalDismiss('modal_token_2')"
  >
    <ng-template>
      <div class="modal_token_2">
        <div class="contener_buttons_actions">
          <ion-icon
            slot="start"
            name="arrow-back-outline"
            (click)="onCloseAndOpen('modal_token_2', 'modal_token')"
          ></ion-icon>
          <ion-button
            expand="block"
            color="uva_blue-600"
            (click)="onModalDismiss('modal_token_2')"
          >
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
        <div class="container_text">
          <p>
            Al finalizar el <strong>mes</strong> la cantidad de tus semillas
            <strong>germinará</strong> de esta manera:
          </p>
        </div>
        <div class="container_text">
          <h1>
            11
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
            a 40
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
            <ion-icon
              src="../../../assets/images/icons/arrow-right.svg"
              class="icon_arrow"
            ></ion-icon>
            <ion-icon src="../../../assets/images/icons/brote.svg"></ion-icon>
          </h1>
          <p>De 11 a 40 semillas germina un <strong>brote</strong></p>
        </div>
        <div class="container_text">
          <h1>
            41
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
            a 63
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon
            ><ion-icon
              src="../../../assets/images/icons/arrow-right.svg"
              class="icon_arrow"
            ></ion-icon>
            <ion-icon src="../../../assets/images/icons/platula.svg"></ion-icon>
          </h1>
          <p>De 41 a 63 semillas germina una <strong>plantula</strong></p>
        </div>
        <div class="container_text">
          <h1>
            mas de 63
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
            <ion-icon
              src="../../../assets/images/icons/arrow-right.svg"
              class="icon_arrow"
            ></ion-icon>
            <ion-icon src="../../../assets/images/icons/flor.svg"></ion-icon>
          </h1>
          <p>más de 63 semillas germina una <strong>flor</strong></p>
        </div>
        <div class="container_text">
          <h1>
            0
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
            a 10
            <ion-icon src="../../../assets/images/icons/semilla.svg"></ion-icon>
          </h1>
          <p>
            De 0 a 10 semillas <strong>No</strong> alcanza a germinar
            <strong>nada</strong> 😒
          </p>
        </div>
        <div class="container_button">
          <ion-button
            color="uva_blue-600"
            expand="block"
            (click)="onModalDismiss('modal_token_2')"
          >
            Entendido
          </ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
