<ion-header>
  <ion-toolbar>
    <ion-title>Gamification Alerts Creation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Test Alert Creation</h2>
        <p>Click buttons to create different types of gamification alerts.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let alert of alerts">
        <ion-button expand="block" color="primary" (click)="createAlert(alert)">
          {{ alert.subtype }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
