<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header">
    <h1>Inicio</h1>
    <div class="user-info">
      <span class="egg-count">3</span>
      <ion-icon name="egg-outline"></ion-icon>
    <!--   <ion-avatar>
        <img src="assets/avatar-placeholder.png" alt="User avatar">
      </ion-avatar> -->
    </div>
  </div>

  <h2 class="date-header">Hoy, Jueves 6 de Agosto</h2>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Tienes 2 Días de racha <ion-icon name="happy-outline"></ion-icon>
      </ion-card-title>
      <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <div class="calendar">
        <div class="day" *ngFor="let day of ['D', 'L', 'M', 'M', 'J', 'V', 'S']">{{ day }}</div>
        <div class="date" *ngFor="let date of [2, 3, 4, 5, 6, 7, 8]" [ngClass]="{'active': date <= 5, 'current': date === 6}">
          {{ date < 10 ? '0' + date : date }}
          <ion-icon name="checkmark-outline" *ngIf="date <= 5"></ion-icon>
        </div>
      </div>
      <ion-button expand="block" fill="clear">
        Ver historial
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Registra y gana: 1 <ion-icon name="egg-outline"></ion-icon>
      </ion-card-title>
      <ion-icon name="information-circle-outline" class="info-icon"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <p>Progreso: 0 de 3</p>
      <div class="progress-bar"></div>
      <ion-button expand="block">Completar registros</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="moon-card">
    <ion-card-content>
      <div class="moon-info">
        <h3>Fase lunar</h3>
        <h2>Luna llena</h2>
      </div>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="close()" color="uva_green-700" expand="block"  >
    cerrar sección
  </ion-button>

<!--   <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="center">
        <ion-button>
          <ion-icon name="clipboard-outline"></ion-icon>
          <ion-label>Registrar</ion-label>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->
</ion-content>