<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <ion-buttons slot="start">
        <ion-button (click)="goBack('/profile')" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-info">
        <p class="title">Configuración</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Sección de Activar Notificaciones -->
  <ion-card class="card">
    <ion-item lines="none" class="notification-item">
      <p><strong> Activar notificaciones</strong></p>

      <ion-toggle
        slot="end"
        color="uva_blue-500"
        [checked]="isNotificationsActive"
        (ionChange)="activeNoti($event)"
      ></ion-toggle>
    </ion-item>

    <div class="modal_show">
      <div class="container_text container_text-b">
        <p>
          Al mantener las notificaciones activas, podrás recibir alertas de
          cuando debes hacer tus registros.
        </p>
      </div>
    </div>
  </ion-card>

  <!-- Sección de Subida de Datos -->
  <ion-card class="card">
    <ion-item lines="none" class="notification-item">
      <p><strong> Subida de datos</strong></p>
    </ion-item>
    <div class="modal_show">
      <div class="container_text">
        <ion-icon
          slot="start"
          src="../../../../assets/images/icons/checkmark-circle.svg"
        ></ion-icon>
        <p class="cursive">Sin sincronizaciones pendientes</p>
      </div>
      <div class="container_button">
        <ion-button
          (click)="uploadData()"
          [disabled]="isDisabled"
          class="text-transform_none custom-button"
          id="open-modal_show_2"
          color="uva_blue-600"
          expand="block"
        >
          <ion-icon src="../../../../assets/images/icons/cloud.svg"></ion-icon>
          <p class="text-button">Sincronizar con la nube</p>
          <ion-icon
            src="../../../../assets/images/icons/refresh.svg"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card>

  <!-- Sección de bajada de Data -->
  <ion-card class="card">
    <ion-item lines="none" class="notification-item">
      <p><strong> Bajada de datos</strong></p>
    </ion-item>

    <div class="modal_show">
      <div class="container_text">
        <ion-icon
          slot="start"
          src="../../../../assets/images/icons/checkmark-circle.svg"
        ></ion-icon>
        <p class="cursive">Sin sincronizaciones pendientes</p>
      </div>
      <div class="container_button">
        <ion-button
          (click)="downloadData()"
          [disabled]="isDisabled"
          class="custom-button"
          class="text-transform_none"
          id="open-modal_show_2"
          color="uva_blue-600"
          expand="block"
        >
          <ion-icon src="../../../../assets/images/icons/cloud.svg"></ion-icon>
          <p class="text-button">Sincronizar con la nube</p>
          <ion-icon
            src="../../../../assets/images/icons/refresh.svg"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-card>

  <!-- Sección de sincronizacion de data -->
  <ion-card class="card">
    <p><strong> Actualizaciones</strong></p>
    <div class="modal_show">
      <div class="container_text">
        <ion-icon
          slot="start"
          src="../../../../assets/images/icons/checkmark-circle.svg"
        ></ion-icon>
        <p class="cursive">Sin sincronizaciones pendientes</p>
      </div>
      <div class="container_button">
        <ion-button
          (click)="synchronizeData()"
          class="custom-button"
          class="text-transform_none"
          id="open-modal_show_2"
          color="uva_blue-600"
          expand="block"
        >
          <ion-icon src="../../../../assets/images/icons/cloud.svg"></ion-icon>
          <p class="text-button">Actualizar configuraciones</p>
          <ion-icon
            src="../../../../assets/images/icons/refresh.svg"
          ></ion-icon>
        </ion-button>
      </div>
      <div class="container_text">
        <ion-icon
          class="warning-icon"
          src="../../../../assets/images/icons/exclamation.svg"
        ></ion-icon>
        <p class="cursive warning-text">Con actualizaciones pendientes</p>
      </div>
    </div>
  </ion-card>
</ion-content>
