<ion-header [translucent]="true">
  <ion-toolbar color="uva_blue-500">
    <div class="header">
      <ion-buttons slot="start">
        <ion-button (click)="goBack('/profile')" fill="clear">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="user-info">
        <p class="title">Configuración</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content">
  <div class="profile-content">
    <div class="profile-card"> 
      <div class="content-items">
        <div class="form">
          <ion-list class="menu-list" lines="none">
            <div  class="div_items">
              <div class="items-titles">
                <ion-label class="color-n"><strong>
                  Activar notificaciones
                </strong></ion-label>

               <ion-toggle 
               mode="ios"
                slot="end"
                color="uva_blue-600"
                [checked]="isNotificationsActive"
                (ionChange)="activeNoti($event)">
              </ion-toggle >
              </div>
              
              <ion-item class="ion-item ion-item-w">
                <ion-label  class="color-n">
                  Al mantener las notificaciones <br> activas, 
                  podrás recibir alertas de<br>
                  cuando debes hacer tus registros.
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
          
        </div>
      </div>
      <div class="content-items">
        <div class="form">
          <ion-list class="menu-list" lines="none">
            <div  class="div_items">
              <div class="items-titles">
                <ion-label  class="color-n"><strong>
                  Subida de datos
                </strong></ion-label>
              </div>
              <ion-label class="cursive color-n">
                <ion-icon
                  slot="start"
                  src="../../../../assets/images/icons/checkmark-circle.svg"
                ></ion-icon>
              Sin sincronizaciones pendientes
              </ion-label>
              <div class="paddingB"></div>
              <ion-button
              expand="block"
              color="uva_blue-600"
              class="text-transform_none"
              (click)="uploadData()"
              [disabled]="isDisabled"
            >
            <ion-icon src="../../../../assets/images/icons/cloud.svg"></ion-icon>
                Sincronizar con la nube
            <ion-icon
              src="../../../../assets/images/icons/refresh.svg"
            ></ion-icon>
            </ion-button>
            </div>
          </ion-list>
          
        </div>
      </div>

      <div class="content-items">
        <div class="form">
          <ion-list class="menu-list" lines="none">
            <div  class="div_items">
              <div class="items-titles">
                <ion-label  class="color-n"><strong>
                  Bajada de datos
                </strong></ion-label>
              </div>
              <ion-label class="cursive color-n">
                <ion-icon
                  slot="start"
                  src="../../../../assets/images/icons/checkmark-circle.svg"
                ></ion-icon>Sin sincronizaciones pendientes
              </ion-label>
              <div class="paddingB"></div>
              <ion-button
              expand="block"
              color="uva_blue-600"
              class="text-transform_none"
              (click)="downloadData()"
              [disabled]="isDisabled"
            >
            <ion-icon src="../../../../assets/images/icons/cloud.svg"></ion-icon> Sincronizar con la nube
            <ion-icon
              src="../../../../assets/images/icons/refresh.svg"
            ></ion-icon>
            </ion-button>
            </div>
          </ion-list>
          
        </div>
      </div>


      <div class="content-items">
        <div class="form">
          <ion-list class="menu-list" lines="none">
            <div  class="div_items">
              <div class="items-titles">
                <ion-label  class="color-n"><strong>
                  Actualizaciones
                </strong></ion-label>
              </div>
              <ion-label class="cursive  warning-text" *ngIf="isDisabled">
                <ion-icon
                  slot="start"
                  class="warning-icon"
                  src="../../../../assets/images/icons/exclamation.svg"
                ></ion-icon>
                Con actualizaciones pendientes
              </ion-label>
              <div class="paddingB"></div>
              <ion-button
              expand="block"
              color="uva_blue-600"
              class="text-transform_none"
              (click)="downloadData()"
              [disabled]="!isDisabled"
            >
            <ion-icon src="../../../../assets/images/icons/cloud.svg"></ion-icon>
               Actualizar configuraciones
            <ion-icon
              src="../../../../assets/images/icons/refresh.svg"
            ></ion-icon>
            </ion-button>
            </div>
          </ion-list>
          
        </div>
      </div>
     
    </div>
  </div>
</ion-content>

